# ВНИМАНИЕ: Этот файл предназначен для синхронизации структуры ключей на нескольких ПК.
# Не вписывайте сюда настоящие ключи! Этот файл загружается на GitHub.
# Скопируйте этот файл, назовите копию `.env` и впишите в нее ваши реальные ключи.

BOT_TOKEN=your_telegram_bot_token_here
CHANNEL_URL=https://t.me/your_channel_name
